{% extends 'layout.html' %}
{% block title %}
About 
{% endblock %}
{% block content %}
<P>about page</P>

{% if mood == "good" %}
    <p>SO HAPPY I M SO HAPPY UUR. Here</p>
{% elif mood == "bad" %}
    <p>not feeling it today</p>
{% else %}
    <p>feeling mysterious today</p>
{% endif %}



<h1>Best Class Ever</h1>
<ul>
    {% for friend in friends %}
        <li>{{ friend }}</li>
    {% endfor %}
</ul>

<dl>
    {% for key, value in my_dict.items() %}
        <dt>{{ key }}</dt>
        <dd>{{ value }}</dd>
    {% endfor %}
</dl>

{% endblock %}