    
 <!DOCTYPE html>
 <html>
     <head>
         <meta charset="utf-8" />
         <title>Burger</title>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
     </head>

     <body>
         <div class="navbar">
             <a href="{{ url_for('Burger') }}" class="item Burger">Burger</a>
             <a href="{{ url_for('Sesame') }}" class="item Sesame">Sesame</a>
             <a href="{{ url_for('Top_Bun') }}" class="item Top_Bun">Top_Bun</a>
             <a href="{{ url_for('Lettuce') }}" class="item Lettuce">Lettuce</a>
             <a href="{{ url_for('Tomato') }}" class="item Tomato">Tomato</a>
             <a href="{{ url_for('Cheese') }}" class="item Cheese">Cheese</a>
             <a href="{{ url_for('Patty') }}" class="item Patty">Patty</a>
             <a href="{{ url_for('Bottom_Bun') }}" class="item Bottom_Bun">Bottom_Bun</a>
             
         </div>

         <div class="body-content">




             <p>Burger</p>



             <img src="{{ url_for('static', filename='Burger.png') }}" usemap="#burgermap" width="2240" height="2240">

             <map name="burgermap">
                 <area shape="rect" coords="530,1014,1906,560" href="/Top_Bun" alt="Top_Bun">
                 <area shape="rect" coords="415,1014,1986,1279" href="/Lettuce" alt="Lettuce">
                 <area shape="rect" coords="482,1279,1793,1378" href="/Tomato" alt="Tomato">
                 <area shape="rect" coords="536,1378,1952,1491" href="/Cheese" alt="Cheese">
                 <area shape="rect" coords="1384,1491,1574,1732" href="/Cheese" alt="Cheese">

                 <area shape="rect" coords="338,1491,1384,1732" href="/Patty" alt="Patty">
                 <area shape="rect" coords="1574,1732,1997,1491" href="/Patty" alt="Patty">

                 

                 <area shape="rect" coords="464,1732,1921,1908" href="/Bottom_Bun" alt="Bottom_Bun">
                 <!-- 
                 <area shape="rect" coords="1384,1378,1574,1732" href="/Patty" alt="Patty">
                 <area shape="rect" coords="50,120,150,170" href="/Cheese" alt="Cheese">
                 <area shape="rect" coords="50,190,150,250" href="/Patty" alt="Patty"> 
                 -->
             </map>


             <hr/>
             <footer>
                 <p>Sohan Hormuzdiar &copy; 2025</p>
             </footer>
         </div>
     </body>
 </html>
    
