    
 <!DOCTYPE html>
 <html>
     <head>
         <meta charset="utf-8" />
         <title>Burger</title>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
     </head>

     <body>
         <div class="navbar">
             <a href="{{ url_for('Burger') }}" class="item Burger">Burger</a>
             <a href="{{ url_for('Sesame') }}" class="item Sesame">Sesame</a>
             <a href="{{ url_for('Top_Bun') }}" class="item Top_Bun">Top_Bun</a>
             <a href="{{ url_for('Lettuce') }}" class="item Lettuce">Lettuce</a>
             <a href="{{ url_for('Tomato') }}" class="item Tomato">Tomato</a>
             <a href="{{ url_for('Cheese') }}" class="item Cheese">Cheese</a>
             <a href="{{ url_for('Patty') }}" class="item Patty">Patty</a>
             <a href="{{ url_for('Bottom_Bun') }}" class="item Bottom_Bun">Bottom_Bun</a>
             
         </div>

         <div class="body-content">




             <p>Burger</p>



             <img src="{{ url_for('static', filename='Burger.png') }}" usemap="#burgermap" width="720" height="720" id="logo" class="img-fluid">

             <map name="burgermap">
                 <area shape="rect" coords="170,326,613,180" href="/Top_Bun" alt="Top_Bun">
                 <area shape="rect" coords="133,326,638,411" href="/Lettuce" alt="Lettuce">
                 <area shape="rect" coords="155,411,576,443" href="/Tomato" alt="Tomato">
                 <area shape="rect" coords="172,443,627,479" href="/Cheese" alt="Cheese">
                 <area shape="rect" coords="445,479,506,557" href="/Cheese" alt="Cheese">

                 <area shape="rect" coords="109,479,445,557" href="/Patty" alt="Patty">
                 <area shape="rect" coords="506,557,642,479" href="/Patty" alt="Patty">

                 

                 <area shape="rect" coords="149,557,618,613" href="/Bottom_Bun" alt="Bottom_Bun">
                 <!-- 
                 <area shape="rect" coords="1384,1378,1574,1732" href="/Patty" alt="Patty">
                 <area shape="rect" coords="50,120,150,170" href="/Cheese" alt="Cheese">
                 <area shape="rect" coords="50,190,150,250" href="/Patty" alt="Patty"> 
                 -->
             </map>


             <hr/>
             <footer>
                 <p>Sohan Hormuzdiar &copy; 2025</p>
             </footer>
         </div>
     </body>
 </html>
    
