    
 <!DOCTYPE html>
 <html>
     <head>
         <meta charset="utf-8" />
         <title>{% block title %}{% endblock %}</title>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
     </head>

     <body>
         <div class="navbar">
             <a href="{{ url_for('Burger) }}" class="navbar-brand">Burger</a>
             <a href="{{ url_for('Top_Bun') }}" class="navbar-item">Top_Bun</a>
             <a href="{{ url_for('Sesame') }}" class="navbar-item">Sesame</a>
             <a href="{{ url_for('Lettuce') }}" class="navbar-brand">Lettuce</a>
             <a href="{{ url_for('Tomato') }}" class="navbar-item">Tomato</a>
             <a href="{{ url_for('Cheese') }}" class="navbar-item">Cheese</a>
             <a href="{{ url_for('Patty') }}" class="navbar-item">Patty</a>
             <a href="{{ url_for('Bottom_Bun') }}" class="navbar-item">Bottom_Bun</a>
             
         </div>

         <div class="body-content">
             {% block content %}
             {% endblock %}
             <hr/>
             <footer>
                 <p>Sohan Hormuzdiar &copy; 2025</p>
             </footer>
         </div>
     </body>
 </html>
    
