
<!DOCTYPE html>
<html>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Noto+Sans+Wancho&display=swap" rel="stylesheet">
        <meta charset="utf-8" />
        <title>Fruity Pebbles</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    </head>





    <body>
        <h1>welcome hto dogs</h1>
        <P>i like <span class="poo kewl">fruit</span></P>
        <img class="walter" src="https://joinasf.gov.pk/assets/img/carousel-imgs/slide_1.jpg">

        <div id="fun">
            <P>sup I LIKE <span class="poo m">HAHAHAHAHAHHHHIHHOUH</span> is so tastey FRUITIITITITITIITITITITITITITIITITIT</P>
        </div>
        
    </body>

</html>